@using Microsoft.AspNetCore.Components.Forms;

<EditForm OnSubmit=@SearchForm>
    <div class="row">
        <div class="col">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="Keyword"></InputText>
        </div>
        <div class="col button-top">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</EditForm>

@code {
    private string Keyword { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { set; get; }

    private async Task SearchForm(EditContext context)
    {
        await OnSearch.InvokeAsync(Keyword);

    }
}
