<h3>Update Team</h3>

<EditForm Model="Team" OnValidSubmit="SubmitTask">
    <div class="form-group pt-3">
        <label for="Name">Tên Team</label>
        <InputText class="form-control" placeholder="Nhập tên Team...." @bind-Value="Team.Name"></InputText>
    </div>
    <div class="form-group pt-3">
        <label for="Name">Mô tả Team</label>
        <InputTextArea class="form-control pt-1" rows="5" placeholder="Nhập mô tả Team...." @bind-Value="Team.Description"></InputTextArea>
    </div>
    <div class="form-group float-end pt-3">
        <button type="submit" class="btn btn-primary pt-1">Cập nhật</button>
    </div>
</EditForm>
