<h3>Create Team</h3>

<div class="form-group">
    <div class="form-group pt-3">
        <label for="Name">Tên Team</label>
        <input class="form-control" placeholder="Nhập tên Team...." @bind-value="@Team.Name"></input>
    </div>
    <div class="form-group pt-3">
        <label for="Name">Mô tả Team</label>
        <textarea class="form-control pt-1" rows="5" placeholder="Nhập mô tả Team...." @bind="@Team.Description"></textarea>
    </div>
    <div class="form-group float-end pt-3">
        <button type="submit" class="btn btn-primary pt-1">Tạo mới</button>
    </div>
</div>


